*{
    padding: 0;
    margin: 0;
}
/*==================custom font==================*/
@font-face {
  font-family: SourceSansPro-Bold;
  src: url(fonts/SourceSansPro-Bold.otf);
}
@font-face {
  font-family: SourceSansPro-light;
  src: url(fonts/SourceSansPro-Light.otf);
}
/*==================NAV/HEADER==================*/
header{
    text-align: center;
    height: 100vh;
    width: auto;
    background-image: linear-gradient(to bottom, rgba(7,22,41,0) 70%,rgba(7,22,41,0.9) 100%), url(../images/Object.png);
    position: relative;
    background-size: cover;
    
    
    
}
nav{
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    margin: 0 4.5rem 0 4.5rem;
    
}
nav img{
    float: left;
    margin: auto;
}
ul{
    display: flex;
    float: right;
}
ul li{
    list-style: none;
    padding: 0 12px 0 12px;
    justify-content: space-between ;
}
ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    font-family: 'SourceSansPro-Bold';
}

/*main.hero{
    align-content: center;
    padding: 0 4rem 0 4rem;
}*/
.hero{
    font-family: 'SourceSansPro-Bold';
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.span-txt{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px;
    color: #fff;
    font-family: 'SourceSansPro-Bold';
    padding: 0px  0px  0px 90px;
}

.hero h1{
    color: #fff;
    font-size: 100px;
}

.btn{
    display: flex;
    justify-content: center;
    padding-top: 55px;
}
.btn button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    background: #C271FF;
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
/*.hero button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-decoration: none;
    background: #C271FF;
    box-shadow: #240040;
    border: 1px solid #240040;
    border-radius: 25px;
    padding: 12px 34px;
    font-size: 13px;
}*/



.pros{
    min-width: 100%;
    height: auto;
    display: flex;
    justify-content: center; 
}

.pros h2{
    font-size: 32px;
    font-family: 'SourceSansPro-light';
    color: #fff;
    position: absolute;
    text-align: center;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pros .spartial-color{
    color: #C271FF;
}
.pros h3{
    font-size: 16px;
    font-family: 'SourceSansPro-Bold';
}
/*.pro-container{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    gap: 100px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}*/
.pro-container{
    display: flex;
    justify-content: center; 
    gap: 130px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 59%;
    /*top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);*/
    
}*/
.tutors p{
    padding: 12px;
    font-size: 8px;
}
.pros img{
    margin-top: 90px;
    border-radius: 50%;
    align-items: center;
    object-fit: cover;
    width: 130px;
    height: 130px;
}

/*.tutors{
    position: absolute;
    align-items: center;
    justify-content:space-between;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);

}